cryptography==3.4.7
mypy_extensions==0.4.3
gevent==21.1.2
keyring==22.3.0
Cython==0.29.23
greenlet==1.0.0
pandas==1.2.4
mock==4.0.3
ipywidgets==7.6.3
watchdog==1.0.2
numpy==1.20.1
brotlipy==0.7.0
typing_extensions==3.7.4.3
docutils==0.17
matplotlib==3.3.4
asgiref==3.4.1
BeautifulSoup==3.2.2
blinker==1.4
brotli==1.0.9
cchardet==2.1.7
contextvars==2.4
dataclasses==0.8
disco==1.40.4
ipaddr==2.2.0
ipython==7.28.0
lockfile==0.12.2
ordereddict==1.1
Pillow==8.4.0
protobuf==3.18.1
pyOpenSSL==21.0.0
python-dotenv==0.19.1
secrets==1.0.2
setuptools_scm==6.3.2
tensorflow==2.6.0
trio==0.19.0
Twisted==21.7.0
unicodedata2==13.0.0.post2
wincertstore==0.2.1
