<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>中国经济学年会系统</title>
    <link rel="stylesheet" type="text/css" href="/static/css/homepage.css"/>
    <link rel="shortcut icon" type="image/x-icon" href="/static/images/favicon.ico" />
</head>
<body>
    <div class="head">
        <div class="head-left">
            <img  class="logo" src="/static/images/logo.png" />
            <div class="title">中国经济学年会投稿报名系统</div>
        </div>
        <div class="head-middle">
            <div class="middle-btn middle-btn-active">首页</div>
            <div class="middle-btn">会议活动</div>
        </div>
        <div class="head-right">
            <button class="right-btn">登录</button>
            <button class="right-btn">注册</button>
        </div>
    </div>
    <div class="main">
        <div class="content">
            <div class="content-banner">
                <div class="banner-title">第20届中国经济学年会胜利召开</div>
                <img  class="banner-img" src="/static/images/banner.jpeg" />
            </div>
            <div class="img-indicator"></div>
            <div class="content-middle">
                <span class="content-middle-title">近期会议</span>
                <span class="content-middle-btn">更多</span>
            </div>
            <div class="content-list">
                <div class="conf">
                    <img class="conf-img" src="/static/images/h01.jpeg" />
                    <div class="conf-content">
                        <div class="conf-title">2021年中国经济学年会CEA论坛第1期</div>
                        <div><span class="conf-subtitle">主办单位：</span><span class="conf-subcontent">中国经济学年会</span></div>
                        <div><span class="conf-subtitle">承办单位：</span><span class="conf-subcontent">宁夏大学经济管理学院（西部发展研究院）</span></div>
                        <div><span class="conf-subtitle">开始时间：</span><span class="conf-subcontent">2021-08-18</span></div>
                        <div><span class="conf-subtitle">结束时间：</span><span class="conf-subcontent">2021-08-20</span></div>
                    </div>
                </div>
                <div class="conf">
                    <img class="conf-img" src="/static/images/h02.jpg" />
                    <div class="conf-content">
                        <div class="conf-title conf-title-pd">第二十一届中国经济学年会</div>
                        <div><span class="conf-subtitle">主办单位：</span><span class="conf-subcontent">中国经济学年会秘书处</span></div>
                        <div><span class="conf-subtitle">承办单位：</span><span class="conf-subcontent">陕西师范大学国际商学院</span></div>
                        <div><span class="conf-subtitle">开始时间：</span><span class="conf-subcontent">2021-12-04</span></div>
                        <div><span class="conf-subtitle">结束时间：</span><span class="conf-subcontent">2021-12-05</span></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer class="footer">
        <div>中国经济学年会投稿报名系统是综合会务发布、管理、日程安排、会议报名、论文投稿等功能的会议系统平台。联系邮箱：michaelshen@nsd.pku.edu.cn，联系电话：62754054。 </div>
        <div>Copyright © 中国经济学年会</div>
    </footer>
</body>
</html>